sourceDir = "~/.dotfiles"

[edit]
    apply = true
    watch = true

[git]
    autoCommit = false
    autoPush = false

{{ if lookPath "delta" -}}
[diff]
    pager = "delta"
{{ end -}}

{{ if lookPath "nvim" -}}
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ end -}}

[add]
    secrets = "error"

[completion]
    custom = true
