sourceDir = "~/.dotfiles"
encryption = "age"

[age]
    identity = "~/.config/chezmoi/age-identity.txt"
    recipient = "age1s33fhflvlg5vt4l7qn0gg0thjq4yels4486srpr07c2jm2wceycqaqjjnq"


[edit]
    command = "nvim"
    apply = false
    watch = false

[git]
    autoCommit = false
    autoPush = false

{{ if lookPath "delta" -}}
[diff]
    pager = "delta"
{{ end -}}

{{ if lookPath "nvim" -}}
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ end -}}

[add]
    secrets = "error"

[completion]
    # https://github.com/spf13/cobra/issues/1577
    custom = false
