[submodule "dot_claude"]
	path = dot_claude
	url = git@github.com:raisedadead/dotfiles-private.git
	branch = dot_claude
[submodule "dot_codex"]
	path = dot_codex
	url = git@github.com:raisedadead/dotfiles-private.git
	branch = dot_codex
