[alias]
# Shortening aliases
co = checkout
cob = checkout -b
d = diff -- ':!package-lock.json' ':!yarn.lock'
dc = diff --cached
edit = commit --amend
no-edit = commit --amend --no-edit

# Complex aliases
lg-timeline = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
lg = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
list-all-ext = "!f() { git ls-tree -r HEAD --name-only | perl -ne 'print $1 if m/\\.([^.\\/]+)$/' | sort -ru | uniq -c;}; f"
list-changed-ext = "!f() { git branch -a | grep -E 'remotes/origin/HEAD' | cut -d ' ' -f 5 | xargs -I {} git diff --name-only {} | perl -ne 'print $1 if m/\\.([^.\\/]+)$/' | sort -rn | uniq -c ;}; f"

[core]
whitespace = off
excludesfile = ~/.gitignore
autocrlf = false
safecrlf = false
pager = delta

[delta]
side-by-side = false
line-numbers = true
features = diff-so-fancy
hunk-header-style = file line-number
hunk-header-decoration-style = blue ol ul
file-style = omit

[advice]
statusuoption = false

[fetch]
prune = true
[merge]
conflictstyle = diff3
[diff]
colorMoved = default
[pull]
rebase = false
[push]
default = current

[color]
ui = true
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "status"]
added = yellow
changed = green
untracked = cyan

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[url "git@github.com:"]
pushInsteadOf = git://github.com/

[help]
autocorrect = 1

[include]
path = ~/.gitconfig.local
