[alias]
co = switch
cob = switch -c
edit = commit --amend
no-edit = commit --amend --no-edit
no-diff-lockfile = diff -- ':!*lock.json' ':!*.lock' ':!*lock.yaml' ':!*lock.yml'
no-diff-pager = -c 'delta.line-numbers=false' diff
lg = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
lg-stat = log --stat --graph --pretty=oneline --abbrev-commit --date=relative
pull-rebase = "!b() { branch=\"${1:-main}\"; if git remote | grep -q '^upstream$'; then echo \"Rebasing from upstream/$branch\"; git pull --rebase upstream \"$branch\"; else echo \"Rebasing from origin/$branch\"; git pull --rebase origin \"$branch\"; fi; }; b"

pruner = !"git prune --expire=now; git reflog expire --expire-unreachable=now --rewrite --all"
repacker = repack -a -d -f --depth=300 --window=300 --window-memory=1g
optimizer = !"git pruner; git repacker; git prune-packed"

[core]
whitespace = off
excludesfile = ~/.gitignore
autocrlf = false
safecrlf = false
pager = delta
attributesFile = ~/.gitattributes

[advice]
statusuoption = false

[fetch]
prune = true
[pull]
rebase = false
[push]
default = current
autoSetupRemote = true

[merge]
conflictstyle = diff3
[diff]
colorMoved = default
[interactive]
diffFilter = delta --color-only

[rerere]
enabled = true

[color]
ui = true
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "status"]
added = yellow
changed = green
untracked = cyan

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[url "git@github.com:"]
pushInsteadOf = git://github.com/

[help]
autocorrect = 1

[include]
path = ~/.gitconfig.local
path = ~/.config/delta/config.gitconfig
