[alias]
    # Shortening aliases
    co = checkout
    cob = checkout -b
    f = fetch -p
    c = commit
    p = push
    ba = branch -a
    bd = branch -d
    bD = branch -D
    d  = diff -- ':!package-lock.json' ':!yarn.lock'
    dc = diff --cached
    edit = commit --amend
    no-edit = commit --amend --no-edit

    # Feature improving aliases
    st = status -sb
    a = add -p

    # Complex aliases
    plog = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
    tlog = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rank = shortlog -sn --no-merges
    bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
    find-ext = "!f() { git ls-tree -r HEAD --name-only | perl -ne 'print $1 if m/\\.([^.\\/]+)$/' | sort -u ;}; f"

    # maintainer aliases (use with git-extras)
    harmony = "!f() { git pull --rebase upstream \"$1\"; }; f"
    trash = !mkdir -p .trash && git ls-files --others --exclude-standard | xargs mv -f -t .trash
    cp = cherry-pick
[core]
    whitespace = off
    excludesfile = ~/.gitignore
    autocrlf = false
    safecrlf = false
    pager = diff-so-fancy | less --tabs=4 -RFX
[advice]
    statusuoption = false
[push]
	default = current
[color]
    ui = true
[color "diff"]
    meta = yellow
    commit = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[url "git@github.com:"]
    pushInsteadOf = git://github.com/
[help]
    autocorrect = 1
[pull]
    rebase = false
[include]
    path = ~/.gitconfig.local
[fetch]
	prune = true
