#-----------------------------------------------------------
#
# @raisedadead's config files
# https://get.ms/dotfiles
#
# Copyright: Mrugesh Mohapatra <https://mrugesh.dev>
# License: ISC
#
# File name: .nanorc
#
#-----------------------------------------------------------

#-----------------------------
# smooth scrolling
#-----------------------------
set smooth

#-----------------------------
# spacing and indentation
#-----------------------------
set tabstospaces
set autoindent

#-----------------------------
# turn off defaults
#-----------------------------
set nowrap
# set nohelp
# set morespace

#--------------------------------------------------------
