"*":
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "IBM Plex Mono"
    showInvisibles: true
  "exception-reporting":
    userId: "a2539911-9839-49a7-9614-870a6b704639"
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  welcome:
    showOnStartup: false
